.characters {
  display: flex;
}
.ilbuni {
  width: 100px;
  height: 100px;
  border: 1px solid yellow;
}
.a {
  background-color: antiquewhite;
}
.b {
  background-color: blue;
}
.c {
  background-color: burlywood;
}
.d {
  background-color: darkcyan;
}
